<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Doctor profile</title>
    <div th:insert="blocks/webjars :: webjars"></div>
    <link rel="stylesheet" th:href="@{/css/doctorProfile.css}">
</head>
<body>
<header th:insert="blocks/doctorSidebar :: doctorSidebar"></header>
<!--Главный экран-->
<div class="mainScreen">
    <div class="container-xl px-4 mt-3 pb-4">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">Данные профиля</div>
                <div class="card-body">
                    <form>
                        <!--Ряд показа фото-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <img class="img-fluid" width="50%" height="50%"
                                     th:if="${doctor.getImage() != null && !doctor.getImage().isEmpty()}"
                                     th:src="@{/applicationFiles/doctors/{id}/{image}(id=${doctor.getId()}, image=${doctor.getImage()})}">
                            </div>
                        </div>
                        <!--Ряд имени-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputName">Имя</label>
                                <input class="form-control" id="inputName" type="text"
                                       th:value="${doctor.getName()}" disabled>
                            </div>
                        </div>
                        <!--Ряд фамилии-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputSurname">Фамилия</label>
                                <input class="form-control" id="inputSurname" type="text"
                                       th:value="${doctor.getSurname()}" disabled>
                            </div>
                        </div>
                        <!--Ряд отчества-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPatronymic">Отчество</label>
                                <input class="form-control" id="inputPatronymic" type="text"
                                       th:value="${doctor.getPatronymic()}" disabled>
                            </div>
                        </div>
                        <!--Ряд почты-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputEmail">Email</label>
                                <input class="form-control" id="inputEmail" type="text"
                                       th:value="${doctor.getEmail()}" disabled>
                            </div>
                        </div>
                        <!--Ряд кабинета-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputCabinet">Кабинет</label>
                                <input class="form-control" id="inputCabinet" type="text" th:value="${doctor.getCabinet()}" disabled>
                            </div>
                        </div>
                        <!--Ряд стажа-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputExperience">Стаж</label>
                                <input class="form-control" id="inputExperience" type="number"
                                       th:value="${doctor.getExperience()}" disabled>
                            </div>
                        </div>
                        <!--Ряд специальностей-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputSpecialities">Специальности</label>
                                <input class="form-control" id="inputSpecialities" type="text"
                                       th:value="${#strings.setJoin(doctor.getSpecialities(), ', ')}" disabled>
                            </div>
                        </div>
                        <!--Ряд категории-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputCategory">Категория специалиста</label>
                                <input class="form-control" id="inputCategory" type="text"
                                       th:value="${doctor.getCategory()}" disabled>
                            </div>
                        </div>
                    </form>
                    <a class="btn btn-primary" role="button" th:href="@{/doctors/{id}/edit(id=${doctor.getId()})}">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>