<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title th:text="${doctor.getSurname() + ' ' + doctor.getName() + ' ' + doctor.getPatronymic()}"></title>
    <div th:insert="blocks/webjars :: webjars"></div>
    <link rel="stylesheet" th:href="@{/css/resume.css}">
    <script src="https://cdn.jsdelivr.net/npm/editorjs-html@3.4.0/build/edjsHTML.js"></script>
    <script type="text/javascript" th:src="@{/js/yearSuffix.js}"></script>
    <script type="text/javascript" th:src="@{/js/resumeJs.js}"></script>
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    let doctorSpecialities = /*[[${doctor.getSpecialitiesLabels()}]]*/ 'doctorSpecialities';
    let aboutDoctor = /*[[${doctor.getAboutDoctor()}]]*/ 'aboutDoctor';
    let education = /*[[${doctor.getEducation()}]]*/ 'eduction';
    let workPlaces = /*[[${doctor.getWorkPlaces()}]]*/ 'workPlaces';
    let doctorId = /*[[${doctor.getId()}]]*/ 'doctorId';
    let reviewsNumber = /*[[${reviewsNumber}]]*/ 'reviewsNumber';
    /*]]>*/
</script>
<body>
<header th:replace="blocks/header :: header"></header>
<div class="wrapper ">
    <div class="content">
        <div class="container-fluid">
            <!--1-й блок Доктор-->
            <div>
                <div class="mb-3 blackLineUnderAppointment" style="margin-top: 60px"></div>
                <!--Навигация-->
                <div class="d-flex justify-content-center navResume">
                    <div class="col-5 mt-2">
                        <div class="row headlines text-center">
                            <div class="col-md-3">
                                <a href="#toDoctorDiv">О враче</a>
                            </div>
                            <div class="blackLineDividing"></div>
                            <div class="col-md-3">
                                <a href="#toEducationDiv">Образование</a>
                            </div>
                            <div class="blackLineDividing"></div>
                            <div class="col-md-3">
                                <a href="#toWorkPlacesDiv">Опыт работы</a>
                            </div>
                            <div class="blackLineDividing"></div>
                            <div class="col-md-2">
                                <a href="#toReviewDiv">Отзывы</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Блок с доктором-->
                <div class="d-flex justify-content-center">
                    <div class="col-8 mt-5 resumeCover">
                        <p class="themes text-center mb-4" style="font-size: 28px" th:text="${doctor.getSurname() + ' ' + doctor.getName() + ' ' + doctor.getPatronymic()}">Павлец Антон Михайловскйи</p>
                        <div class="row d-flex justify-content-center" style="margin-top: 2rem;">
                            <!--Photo-->
                            <div class="col-3 doctorInfoBlocks">
                                <div class="photoFrameSquareMain">
                                    <img class="photoResume" th:if="${doctor.getImage() != null && !doctor.getImage().isEmpty()}"
                                         th:src="@{/applicationFiles/doctors/{id}/{image}(id=${doctor.getId()}, image=${doctor.getImage()})}" alt="doctorPhoto"/>
                                    <img class="photoResume" th:unless="${doctor.getImage() != null && !doctor.getImage().isEmpty()}"
                                         th:src="@{/applicationFiles/designElements/doctorAvatar.png}" alt="doctorPhoto"/>
                                </div>
                            </div>
                            <!--Info-->
                            <div class="col-3 buttonFont doctorInfoBlocks" style="position: center">
                                <!--Теги специальности-->
                                <div class="mb-3" id="doctorSpecialities">
                                    <button th:each="speciality : ${doctor.getSpecialities()}" class="btn borderButton mx-1 buttonFont" style="cursor: default" th:text="${speciality}"></button>
                                </div>
                                <!--Информация-->
                                <div>
                                    <!--Стаж-->
                                    <div class="my-3">
                                        <span class="spanStyle">Врачебный стаж: </span>
                                        <span style="font-size: 25px;" id="doctorExperience"
                                              th:text="${doctor.getExperience()}"></span>
                                        <span id="yearPrefix"></span>
                                    </div>
                                    <!--Категория-->
                                    <div class="my-2">
                                        <span class="spanStyle">Категория специалиста:</span>
                                        <div class="mt-2" id="doctorCategory"
                                             th:text="${doctor.getCategory()}"></div>
                                    </div>
                                    <!--Адрес клиники-->
                                    <div >
                                        <span class="mt-1 spanStyle">Работает в клиниках:</span>
                                        <div class="">
                                            <div class="mt-1 d-flex align-items-center">
                                                <img class="imgMetro me-2" src="/applicationFiles/designElements/metroIcon.png" width="20" height="20" alt="img"/>Электрозаводская</div>
                                            <div class="mt-1">ул. Большая Семеновская, д. 38</div>
                                        </div>
                                    </div>
                                </div>
                            </div >
                            <div style="width: 100px !important;"></div>
                            <!--Ключевые особенности-->
                            <div class="col-2 doctorInfoBlocks">
                                <div class="keyAdvantagesBlock text-center buttonFont mb-3" style="height: 185px; width: 340px">
                                    <div class="spanStyle pt-3 mb-4">
                                        <span>Ключевые особенности:</span></div>
                                    <div class="px-4">Данный врач занимает первое место среди урологов в Москве</div>
                                    <div class="mt-4 text-muted">По версии портала Tood.by</div>
                                </div>
                                <div>
                                    <button class="button activeButton MyButton mt-1" style="width: 340px">Записаться на приём</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--2-й блок о Враче-->
            <!--дизайн элементы-->
            <div class="trianglesBorder">
                <img class="resumeTriangle2" th:src="@{/applicationFiles/designElements/resumeTriangle2.svg}" alt="">
                <img class="resumeTriangle3" th:src="@{/applicationFiles/designElements/resumeTriangle3.svg}" alt="">
            </div>
            <div class="themes text-center mb-3" style="margin-top: 90px;" id="toDoctorDiv">О враче</div>
            <!--Карточка-->
            <div class="doctorBody container-fluid headlines " style="min-width: 1030px; background: white; padding: 20px 30px">
                <div class="doctorAbilities" id="aboutDoctorDiv">
                </div>
                <p class="themes text-center" style="margin-top: 3.8rem;" id="toEducationDiv">Образование</p>
                <div class="greenLineHorizontalDivider"></div>
                <div class="mt-3" id="educationDiv"></div>
                <div class="themes text-center" style="margin-top: 3.8rem;" id="toWorkPlacesDiv">Опыт работы</div>
                <div class="greenLineHorizontalDivider mt-3"></div>
                <div class="mt-3" id="workPlacesDiv">
                </div>
            </div>
            <div id="toReviewDiv"></div>
            <!--3-й блок комментарии-->
            <div th:if="${doctorReviews.size() != 0}">
                <!--Надпись+Кнопка-->
                <div class="d-flex align-items-center justify-content-center" style="margin: 50px 0 10px">
                    <div class="col-5"></div>
                    <div class="col-2 themes  text-center">Отзывы</div>
                    <div class="col" style=" margin-left: -80px">
                        <a href="#toLeaveReviewDiv" sec:authorize="isAuthenticated()" class="button activeButton MyButton mt-1 ms-3" style="width: 200px">Оставить отзыв</a>
                    </div>
                </div>
                <div class="grayBlock2 pt-1" style="margin: 0 -1.5em 0">
                    <!--Список отзывов-->
                    <div th:each="review, iStat : ${doctorReviews}">
                        <!--1 комментарий-->
                        <div class="d-flex align-items-center my-5">
                            <div class="greenCommentLineAside" style="left: 255px;"></div>
                            <div class="greenCommentLineAside" style="left: 275px; height: 180px"></div>
                            <div class="doctorBody container-fluid row py-3" style="max-width: 1030px; background: white">
                                <!--Фото отзыва-->
                                <div class="col-3 photoFrameSquare ms-3">
                                    <img class="photoResume" th:src="@{/applicationFiles/designElements/comment.jpg}" alt="img">
                                </div>
                                <!--Комментарий-->
                                <div class="col ms-4">
                                    <span class="headlines" th:text="${review.getReviewerName}"></span><br>
                                    <div class="row ms-0 mt-1 col-md-12 d-flex align-items-center">
                                        <div class="col ps-0">
                                            <label class="buttonFont text-muted my-1"></label>
                                            <p class="regTexts" id="reviewContent" th:text="${review.getComment()}">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Дата-->
                                <div class="greenLineHorizontalDivider mt-4 mb-2" style="height: 2px; background: rgba(128,128,128,0.43);"></div>
                                <div>
                                    <span class="regTexts text-muted ms-4" th:text="'Отзыв от ' + ${T(org.apache.commons.lang3.time.DateFormatUtils).format(review.getDate(), 'dd.MM.yyyy')}"></span>
                                </div>
                            </div>
                            <div class="greenCommentLineAside" style="left: -275px; height: 180px"></div>
                            <div class="greenCommentLineAside" style="left: -255px;"></div>
                        </div>
                    </div>
                    <!--Кнопка показать еще-->
                    <div id="moreReviewsPlaceholder"></div>
                    <div class="d-flex justify-content-center mt-3 pb-4">
                        <button class="btn btn-primary button" id="moreReviews" type="button">Показать ещё</button>
                    </div>
                </div>
            </div>
            <!--4-й блок оставить отзыв-->
            <div class="" sec:authorize="isAuthenticated()" style="margin: 60px 0">
                <div class="themes text-center" id="toLeaveReviewDiv">Оставить отзыв</div>
                <div class="row">
                    <div class="col-2"></div>
                    <div  class="my-4 col-6" style="margin-left: 2rem;">
                        <!--Форма отзыва-->
                        <div id="addReviewForm" class="doctorBody px-4 py-3" style="min-width: 1030px; background: white">
                            <!--Имя-->
                            <div class="row col-8 ps-0">
                                <div class="col-4 buttonFont">Отображаемое имя:</div>
                                <h4 class="col-4 headlines" style="margin-left: -1.8rem;" id="reviewerName" th:text="${#authentication.getPrincipal().getSurname() + ' ' + #authentication.getPrincipal().getName()}"></h4>
                            </div>
                            <!--Отзыв-->
                            <div class="mt-3">
                                <textarea class="form-control mt-2 text-start" id="reviewComment" maxlength="1000" placeholder="Ваш отзыв" style="height: 150px;"></textarea>
                                <div id="reviewAlert"></div>
                            </div>
                            <!--Кнопка-->
                            <div class="row mt-3">
                                <div class="col-9 text-muted">
                                    Ваш отзыв будет доступен для общественного просмотра, нажимая кнопку оставить отзыв, вы подверждаете свое согласие на обработку данных.
                                </div>
                                <div class="col" style="margin-left: 46px">
                                    <button class="btn btn-primary button" id="submitAddReview" type="button">Отправить отзыв</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Дизайн эллемент-->
                    <div class="resumeTriangle4 col-2" style="">
                        <img th:src="@{/applicationFiles/designElements/resumeTriangle4.svg}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
<!--style-->
<div class="grayBlock1"></div>
<img class="resumeTriangle1" th:src="@{/applicationFiles/designElements/resumeTriangle1.svg}" alt="">
</body>
</html>