<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Все отзывы</title>
    <div th:insert="blocks/webjars :: webjars"></div>
    <script type="text/javascript" th:src="@{/js/reviewModeration.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <header th:insert="blocks/header :: header"></header>
        <div class="container mt-5 mr-2 ml-2">
            <h1>Список отзывов</h1>
            <table class="table table-striped table-hover mt-4">
                <caption>Список отзывов</caption>
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Имя пользователя</th>
                    <th style="width: 50%">Комментарий</th>
                    <th scope="col">Модерация</th>
                </tr>
                </thead>
                <tbody th:each="review : ${reviews}">
                <tr class="tableTr">
                    <th scope="row" class="reviewId" th:text="${review.getId()}"></th>
                    <td th:text="${review.getDate()}"></td>
                    <td>
                        <a th:href="@{/patients/{id}(id=${review.getPatient().getId()})}" th:text="${review.getReviewerName()}"></a>
                    </td>
                    <td><textarea style="width: 100%;" th:text="${review.getComment()}" disabled></textarea></td>
                    <td>
                        <button class="btn btn-success approveReviewButton">Одобрить</button>
                        <button class="btn btn-danger deleteReviewButton">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>