<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="stylesheet" href="../../static/css/animatedBackground.css">
</head>
<body>
<div class='page'>
  The closer/bigger the object is, more blur is added.
  <h2>
    Floating SVG objects
  </h2>
  <br>
</div>

<!--<svg width="237" class="svg" height="413" viewBox="0 0 237 413" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--  <path d="M237 205.875L-3.05176e-05 413L5.58803e-06 9.79838e-06L237 205.875Z" fill="#A8B4AA"/>-->
<!--</svg>-->

<!--<svg width="722" class="svg" height="246" viewBox="0 0 722 246" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--  <path d="M722 246L0 89.6225L722 0V246Z" fill="#DCE4DA"/>-->
<!--</svg>-->

<!--<svg width="573" class="svg" height="541" viewBox="0 0 573 541" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--  <path d="M572.634 0.417706L0.452245 236.834L202.005 540.54L572.634 0.417706Z" fill="#A8B4AA"/>-->
<!--</svg>-->

<!--<svg width="295" class="svg" height="312" viewBox="0 0 295 312" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--  <path d="M0 312L295 0V312H0Z" fill="#DCE4DA"/>-->
<!--</svg>-->


<div class="wrap">
  <svg width="237" class="svg" height="413" viewBox="0 0 237 413" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M237 205.875L-3.05176e-05 413L5.58803e-06 9.79838e-06L237 205.875Z" fill="#A8B4AA"/>
  </svg>

  <svg width="722" class="svg" height="246" viewBox="0 0 722 246" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M722 246L0 89.6225L722 0V246Z" fill="#DCE4DA"/>
  </svg>

  <svg width="573" class="svg" height="541" viewBox="0 0 573 541" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M572.634 0.417706L0.452245 236.834L202.005 540.54L572.634 0.417706Z" fill="#A8B4AA"/>
  </svg>

  <svg width="295" class="svg" height="312" viewBox="0 0 295 312" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 312L295 0V312H0Z" fill="#DCE4DA"/>
  </svg>

  <svg width="722" class="svg" height="246" viewBox="0 0 722 246" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M722 246L0 89.6225L722 0V246Z" fill="#DCE4DA"/>
  </svg>

  <svg width="237" class="svg" height="413" viewBox="0 0 237 413" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M237 205.875L-3.05176e-05 413L5.58803e-06 9.79838e-06L237 205.875Z" fill="#A8B4AA"/>
  </svg>

  <svg width="573" class="svg" height="541" viewBox="0 0 573 541" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M572.634 0.417706L0.452245 236.834L202.005 540.54L572.634 0.417706Z" fill="#A8B4AA"/>
  </svg>

  <svg width="295" class="svg" height="312" viewBox="0 0 295 312" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 312L295 0V312H0Z" fill="#DCE4DA"/>
  </svg>

  <svg width="573" class="svg" height="541" viewBox="0 0 573 541" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M572.634 0.417706L0.452245 236.834L202.005 540.54L572.634 0.417706Z" fill="#A8B4AA"/>
  </svg>

  <svg width="573" class="svg" height="541" viewBox="0 0 573 541" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M572.634 0.417706L0.452245 236.834L202.005 540.54L572.634 0.417706Z" fill="#A8B4AA"/>
  </svg>

</div>
</body>
</html>