<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Войти</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
  <h1>Войти</h1>
  <div class="card mb-4">
    <div class="card-header">Личные данные</div>
    <div class="card-body">
      <form>
        <div class="row gx-3 mb-3">
          <div class="col-md-6">
            <label class="small mb-1" for="inputEmail">Email</label>
            <input class="form-control" id="inputEmail" type="text">
          </div>
        </div>
        <div class="row gx-3 mb-3">
          <div class="col-md-6">
            <label class="small mb-1" for="inputPassword">Пароль</label>
            <input class="form-control" id="inputPassword" type="text">
          </div>
        </div>
      </form>
      <a class="btn btn-primary" role="button">Войти</a><br><br>
      <p>Нет аккаунта,
        <a href="/patients/new">Зарегистрируйтесь</a>
      </p>
    </div>
  </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>