<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Новый пароль</title>
    <div th:insert="blocks/webjars :: webjars"></div>
    <script type="text/javascript" th:src="@{/js/showHidePassword.js}"></script>
    <script type="text/javascript" th:src="@{/js/passwordMatch.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <header th:replace="blocks/header :: header"></header>

        <div class="container mt-5">
            <h1>Изменение пароля</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <form method="POST" th:action="@{/patients/reset/{code}(code=${activationCode})}">
                        <!--Ряд email-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputEmail">Email</label>
                                <input class="form-control" id="inputEmail" type="text" th:value="${email}" disabled>
                            </div>
                        </div>
                        <!--Ряд пароля-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPassword">Пароль</label>
                                <div class="input-group mb-3">
                                    <input class="form-control border-end-0 inputPasswordClass" type="password"
                                           id="inputPassword" th:name="password" value=""
                                           onkeyup='check($("#submitResetPassword"));' aria-describedby="basic-addon1"
                                           required>
                                    <div class="input-group-addon">
                <span class="input-group-text rounded-start-0 textarea-addon" id="basic-addon1">
                    <i class="bi bi-eye-slash togglePasswordClass"></i>
                </span>
                                    </div>
                                </div>
                            </div>
                            <ul class="alert alert-warning" th:if="${passwordErrors != null}"
                                th:each="error: ${passwordErrors}">
                                <li th:each="message : ${error.getDefaultMessage().split(',')}">
                                    <p class="error-message" th:text="${message}"></p>
                                </li>
                            </ul>
                        </div>
                        <!--Ряд подтверждения пароля-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputConfirmPassword">Пароль</label>
                                <input class="form-control inputPasswordClass" id="inputConfirmPassword" type="password"
                                       value="" onkeyup='check($("#submitResetPassword"));'
                                       required>
                                <span id='passwordMessage'></span>
                            </div>
                        </div>
                        <button class="btn btn-primary" id="submitResetPassword" type="submit">Подтвердить</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>