<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Новое расписание</title>
    <div th:insert="blocks/webjars :: webjars"></div>
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        let disabledDays = [];
        let schedulesJson = /*[[${schedules}]]*/ 'default';
        let schedules = JSON.parse(schedulesJson);
        if (schedules != null && schedules.length !== 0) {
            schedules.forEach(schedule => {
                disabledDays.push(schedule.date);
            });
        }

        $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
        console.log($("#datepicker"));
        $("#datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            numberOfMonths: 2,
            beforeShowDay: disableAllTheseDays,
            onSelect: function () {
                $("#inputDate").val($("#datepicker").datepicker({dateFormat: 'dd-mm-yy'}).val());
                console.log($("#inputDate").val());
            }
        });

        function disableAllTheseDays(date) {
            let sdate = $.datepicker.formatDate('dd-mm-yy', date)
            if ($.inArray(sdate, disabledDays) !== -1) {
                return [false];
            }
            return [true];
        }

    });
    /*]]>*/
</script>
<body>
<div class="wrapper">
    <div class="content">
        <header th:insert="blocks/header :: header"></header>
        <div class="container mt-5">
            <div class="card mb-4">
                <div class="card-header">Запись на приём</div>
                <div class="card-body">
                    <form th:method="POST" th:action="@{/schedules/new}" th:object="${schedule}">
                        <!--Ряд даты-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputDate">Дата приёма</label>
                                <div id="datepicker"></div>
                                <input class="form-control" id="inputDate" type="text" th:name="scheduleDate" hidden>
                            </div>
                        </div>
                        <!--Ряд начала времени-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputStartTime">Начало времени приёмов</label>
                                <input class="form-control" id="inputStartTime" type="time" th:name="startTime"
                                       required>
                            </div>
                        </div>
                        <!--Ряд конца времени-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputEndTime">Конец времени приёмов</label>
                                <input class="form-control" id="inputEndTime" type="time" th:name="endTime" required>
                            </div>
                        </div>
                        <!--Ряд времени консультирования-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputExperience">Время приёма</label>
                                <input class="form-control" id="inputExperience" type="number"
                                       th:field="*{consultingTime}">
                            </div>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Добавить"><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>