<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Редактировать профиль</title>
  <div th:insert="blocks/webjars :: webjars"></div>
</head>
<body>
  <header th:insert="blocks/header :: header"></header>
  <div class="container-xl px-4 mt-3">
      <div class="col-xl-8">
        <div class="card mb-4">
          <div class="card-header">Данные профиля</div>
          <div class="card-body">
            <form>
              <!--Ряд фото-->
              <div class="row gx-3 mb-3">
                <div class="col-md-6">
                  <img class="img-fluid" width="50%" height="50%"
                       th:if="${patient.getImage() != null && !patient.getImage().isEmpty()}"
                       th:src="@{/usersFiles/patients/{id}/{image}(id=${patient.getId()}, image=${patient.getImage()})}">
                </div>
              </div>
              <!--Ряд имя и фамилия-->
              <div class="row gx-3 mb-3">
                <div class="col-md-6">
                  <label class="small mb-1" for="inputName">Имя</label>
                  <input class="form-control" id="inputName" type="text" th:value="${patient.getName()}" disabled>
                </div>
                <div class="col-md-6">
                  <label class="small mb-1" for="inputSurname">Фамилия</label>
                  <input class="form-control" id="inputSurname" type="text" th:value="${patient.getSurname()}" disabled>
                </div>
              </div>
              <!--Ряд дата и пол-->
              <div class="row gx-3 mb-3">
                <div class="col-md-6">
                  <label class="small mb-1" for="inputBirthDate">Дата рождения</label>
                  <input class="form-control" id="inputBirthDate" type="date" th:value="${patient.getBirthDate()}" disabled>
                </div>
                <div class="col-md-6">
                  <label class="small mb-1" for="sexInput">Пол</label>
                  <select class="form-control" id="sexInput" disabled>
                    <option disabled>Не выбрано</option>
                    <option th:selected="${patient.getSex()==1}">Мужчина</option>
                    <option th:selected="${patient.getSex()==2}">Женщина</option>
                  </select>
                </div>
              </div>
              <!--Ряд телефон и email-->
              <div class="row gx-3 mb-3">
                <div class="col-md-6">
                  <label class="small mb-1" for="inputPhone">Телефон</label>
                  <input class="form-control" id="inputPhone" type="tel" th:value="${patient.getTelephone()}" disabled>
                </div>
                <div class="col-md-6">
                  <label class="small mb-1" for="inputEmail">Email</label>
                  <input class="form-control" id="inputEmail" type="email" th:value="${patient.getEmail()}" disabled>
                </div>
              </div>
            </form>
            <a class="btn btn-primary" role="button" th:href="@{/patients/{id}/edit(id=${patient.getId()})}">Редактировать</a>
            <div class="container mt-5 mr-2 ml-2">
              <h3>Список приёмов</h3>
              <table class="table table-striped table-hover mt-4">
                <thead>
                <tr>
                  <th scope="col">Дата</th>
                  <th scope="col">Время</th>
                  <th scope="col">Специальность</th>
                  <th scope="col">Врач</th>
                </tr>
                </thead>
                <tbody th:each= "appointment : ${patient.getAppointments()}">
                <tr>
                  <td th:text="${appointment.getDate() + ' ' + #dates.dayOfWeekName(appointment.getDate())}"></td>
                  <td th:text="${appointment.getTime()}"></td>
                  <td th:text="${#strings.setJoin(appointment.getDoctor().getSpecialities(), ', ')}"></td>
                  <td th:text="${appointment.getDoctor().getSurname() + ' ' + appointment.getDoctor().getName() + ' ' + appointment.getDoctor().getPatronymic()}"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
  <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>