<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title th:text="'Profile#' + ${patient.getId()}"></title>
  <div th:insert="blocks/webjars :: webjars"></div>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container-xl px-4 mt-3">
  <div class="row">
    <div class="col-xl-8">
      <div class="card mb-4">
        <div class="card-header">Личные данные</div>
        <div class="card-body">
          <form>
            <!--Ряд фото-->
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <img class="img-fluid" width="50%" height="50%" th:if="${patient.getImage() != null && !patient.getImage().isEmpty()}" th:src="@{/usersFiles/patients/{id}/{image}(id=${patient.getId()}, image=${patient.getImage()})}">
              </div>
            </div>
            <!--Ряд имя и фамилия-->
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName">Имя</label>
                <input class="form-control" id="inputFirstName" type="text" th:value="${patient.getName()}" disabled>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Фамилия</label>
                <input class="form-control" id="inputLastName" type="text" th:value="${patient.getSurname()}" disabled>
              </div>
            </div>
            <!--Ряд дата и пол-->
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="inputBirthday">Дата рождения</label>
                <input class="form-control" id="inputBirthday" type="date" name="birthday" th:value="${patient.getBirthDate()}" disabled>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="exampleFormControlSelect1">Пол</label>
                <select class="form-control" id="exampleFormControlSelect1" disabled>
                  <option disabled>Не выбрано</option>
                  <option selected th:if="${patient.getSex() == 1}">Мужчина</option>
                  <option th:unless="${patient.getSex() == 1}">Мужчина</option>
                  <option selected th:if="${patient.getSex() == 2}">Женщина</option>
                  <option th:unless="${patient.getSex() == 2}">Женщина</option>
                </select>
              </div>
            </div>
            <!--Ряд телефон и email-->
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="inputPhone">Телефон</label>
                <input class="form-control" id="inputPhone" type="tel" th:value="${patient.getTelephone()}" disabled>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputEmail">Email</label>
                <input class="form-control" id="inputEmail" type="email" th:value="${patient.getEmail()}" disabled>
              </div>
            </div>
            </form>
          <a class="btn btn-primary" th:href="@{/patients/{id}/edit(id=${patient.getId()})}" role="button">Редактировать</a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>