* {
    box-sizing: border-box;
}
body {
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}
.wrap {
    perspective-origin: 50% 50%;
}
.svg {
    position: absolute;
    bottom: -100vh;
    transform-style: preserve-3d;
}
.svg:nth-child(1) {
    left: 0%;
    animation: raise1 11s linear infinite;
    animation-delay: -1s;
    transform: scale(-0.3) rotate(232deg);
    z-index: -6;
    filter: blur(-5px);
}
@keyframes raise1 {
    to {
        bottom: 150vh;
        transform: scale(-0.3) rotate(42deg);
    }
}
.svg:nth-child(2) {
    left: 15%;
    animation: raise2 13s linear infinite;
    animation-delay: -1s;
    transform: scale(-0.4) rotate(139deg);
    z-index: -5;
    filter: blur(-4px);
}
@keyframes raise2 {
    to {
        bottom: 150vh;
        transform: scale(-0.4) rotate(0deg);
    }
}
.svg:nth-child(3) {
    left: 0%;
    animation: raise3 9s linear infinite;
    animation-delay: -4s;
    transform: scale(0.3) rotate(181deg);
    z-index: -4;
    filter: blur(-3px);
}
@keyframes raise3 {
    to {
        bottom: 150vh;
        transform: scale(0.3) rotate(117deg);
    }
}
.svg:nth-child(4) {
    left: 82%;
    animation: raise4 13s linear infinite;
    animation-delay: 0s;
    transform: scale(0.6) rotate(237deg);
    z-index: -3;
    filter: blur(-2px);
}
@keyframes raise4 {
    to {
        bottom: 150vh;
        transform: scale(0.6) rotate(46deg);
    }
}
.svg:nth-child(5) {
    left: 0%;
    animation: raise5 12s linear infinite;
    animation-delay: -3s;
    transform: scale(0.6) rotate(354deg);
    z-index: -6;
    filter: blur(-1px);
}
@keyframes raise5 {
    to {
        bottom: 150vh;
        transform: scale(0.6) rotate(126deg);
    }
}
.svg:nth-child(6) {
    left: 62%;
    animation: raise6 15s linear infinite;
    animation-delay: -3s;
    transform: scale(0.7) rotate(166deg);
    z-index: -6;
    filter: blur(0px);
}
@keyframes raise6 {
    to {
        bottom: 150vh;
        transform: scale(0.7) rotate(42deg);
    }
}
.svg:nth-child(7) {
    left: 62%;
    animation: raise7 14s linear infinite;
    animation-delay: -2s;
    transform: scale(0.8) rotate(216deg);
    z-index: -6;
    filter: blur(1px);
}
@keyframes raise7 {
    to {
        bottom: 150vh;
        transform: scale(0.8) rotate(13deg);
    }
}
.svg:nth-child(8) {
    left: 27%;
    animation: raise8 5s linear infinite;
    animation-delay: -1s;
    transform: scale(1.1) rotate(295deg);
    z-index: -6;
    filter: blur(2px);
}
@keyframes raise8 {
    to {
        bottom: 150vh;
        transform: scale(1.1) rotate(222deg);
    }
}
.svg:nth-child(9) {
    left: 40%;
    animation: raise9 6s linear infinite;
    animation-delay: -2s;
    transform: scale(0.9) rotate(28deg);
    z-index: -6;
    filter: blur(3px);
}
@keyframes raise9 {
    to {
        bottom: 150vh;
        transform: scale(0.9) rotate(203deg);
    }
}
.svg:nth-child(10) {
    left: -13%;
    animation: raise10 11s linear infinite;
    animation-delay: -3s;
    transform: scale(1.1) rotate(36deg);
    z-index: -6;
    filter: blur(4px);
}
@keyframes raise10 {
    to {
        bottom: 150vh;
        transform: scale(1.1) rotate(151deg);
    }
}
