.leftC{
    /*background: yellow;*/

    text-align: center;
    position: center;
    height: 100%;
}

.rightC{
    /*background: blue;*/
    margin-right: 100px;
    text-align: center;
}

.attrBlock{
    min-width: 150px;
    height: 50px;
    overflow: hidden;
    background: white;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    /*margin: 15px 10px 20px;*/

    display: flex;
    justify-content: center;
    align-items: center;
}


.doctorBody{
    position: center;
    /*min-width: 615px;*/
    max-width: 630px;
    min-height: 180px;

    border: 1px solid #000000;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.doctorPhoto{
    width: 87px;
    height: 87px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}
.greenDoctorHeader{
    width: 200%;
    background: #1f4326;
    height: 0.8rem;
}

.greenLine{
    margin-top: 1rem;
    width: 0.2rem;
    height: 100%;
    margin-right: 10rem;
    margin-left: 2rem;
    /*top: 8.625rem;*/

    background: #5A7861;
}

/*Photo change*/
.photoFrame{
    position: relative;
    height: 12rem;
    width: 12rem;

    background: transparent;
    border: 1px solid #000000;
    border-radius: 50%;
    margin: 15px auto;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center
}

.mainPhotoInput{
    background: transparent;
    /*position: absolute;*/
    object-fit: cover;
    max-width: 12.5rem;
    max-height: 12.5rem;
    object-position: center;
}

.iconInput{
    color: black;
    background: rgb(221, 221, 221);

    height: 50%;
    width: 50%;
    border-radius: 50%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.iconInput:hover{
    opacity: 1;
}

.squareInput {
    -webkit-transition: none;
    transition: none;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline;
}

.modal-backdrop {
    width: 100% !important;
    height: 100% !important;
}

.textarea-addon {
    border-bottom-left-radius: 0 !important;
    background-color: #FFFFFF;
    border-top-left-radius: 0;
!important;
}