<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="header">
        <div class="container-fluid py-4 row">
            <!--Label-->
            <div class="d-flex col-7" style="padding-left: 6rem;">
                <a href="/medtouch/home"
                   class="d-flex align-items-center mr-8">
                    <span class="mainLabel">RecoveryMed</span>
                </a>
            </div>
            <!--Кнопки-->
            <div class="col-5">
                <ul class="nav nav-pills">
                    <!--Th запись на прием-->
                    <li class=""><a href="/appointments/new" class="nav-link themes">Записаться на прием</a></li>
                    <li class=""><a href="/medtouch/aboutUs" class="nav-link themes">О нас</a></li>
                    <li class=""><a href="/medtouch/contacts" class="nav-link themes">Контакты</a></li>
                    <li class="" sec:authorize="!isAuthenticated()"><a href="/login" class="nav-link themes">Войти</a></li>
                    <li class="" sec:authorize="isAuthenticated()">
                        <a class="nav-link themes" th:href="@{/{link}(link=${#authentication.getPrincipal().getProfileLink()})}">Профиль</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link themes" type="button" id="logout">Выйти</a>
                    </li>
                    <script>
                        $(document).ready(function() {
                            $("#logout").on("click", function() {
                                $.ajax({
                                    type: "POST",
                                    url: "/logout"
                                });
                                window.location="https://localhost:443/login?logout"
                            });
                        });
                    </script>
                </ul>
            </div>
        </div>
    </div>
</div>