<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Запись</title>
  <div th:insert="blocks/webjars :: webjars"></div>
</head>
<body>
  <header th:insert="blocks/header :: header"></header>
  <div class="container mt-5">
      <div class="card mb-4">
        <div class="card-header">Запись на приём</div>
        <div class="card-body">
          <form th:method="GET" th:action="@{/schedules/getDoctorsSchedules}" th:object="${appointment}">
            <!--Ряд специальности-->
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="inputSpeciality">Специальность</label>
                <select class="form-control" id="inputSpeciality" disabled>
                  <option th:each="speciality : ${T(com.example.models.Speciality).values()}"
                          th:value="${{speciality}}" th:selected="${speciality.name().equalsIgnoreCase(selectedSpec)}" th:text="${speciality.label}">
                  </option>
                </select>
              </div>
            </div>
            <!--Ряд докторов-->
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="inputDoctor">Доктора</label>
                <select class="form-control" id="inputDoctor" th:field="*{doctor}">
                  <option th:each="doctor : ${doctors}"
                          th:value="${doctor.getId()}" th:text="${doctor.getSurname() + ' ' + doctor.getName() + ' ' + doctor.getPatronymic()}">
                  </option>
                </select>
              </div>
            </div>
            <!--Спрятанные поля-->
            <input th:name="speciality" type="text" th:value="${selectedSpec}" hidden>
            <input class="btn btn-primary" type="submit" value="Подтвердить"><br><br>
          </form>
        </div>
      </div>
    </div>
  <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>